{
  "trailingComma": "none",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "printWidth": 80,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.scss", "*.css", "*.html"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
