$dark-degree: 70%;
$light-degree: 10%;
$orange: #ff6e5b;
$blue: #5fdaf5;
$yellow: #f5ef5f;
$magenta: #ff00ff;
$green: #2da15d;

@mixin card($color) {
  $dark-color: darken($color, $dark-degree);
  background-color: $color;
  border-color: $dark-color;
  color: $dark-color;
  &:hover {
    background-color: lighten($color, $light-degree);
    border-color: lighten($dark-color, $light-degree);
    color: lighten($dark-color, $light-degree);
  }
}

.card {
  display: inline-block;
  padding: 2px 8px;
  cursor: grab;
  border-width: 4px;
  border-bottom: 7px;
  border-style: solid;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}

.orange {
  @include card($orange);
}

.blue {
  @include card($blue);
}

.yellow {
  @include card($yellow);
}

.magenta {
  @include card($magenta);
}

.green {
  @include card($green);
}
