$dark-degree: 70%;
$orange: #ff6e5b;
$orange-dark: darken($orange, $dark-degree);
$blue: #5fdaf5;
$blue-dark: darken($blue, $dark-degree);
$yellow: #f5ef5f;
$yellow-dark: darken($yellow, $dark-degree);

.draggableItem {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  cursor: grab;
  border-width: 4px;
  border-bottom: 7px;
  border-style: solid;
  border-radius: 10px;
  font-size: 30px;
}

.orange {
  background-color: $orange;
  border-color: $orange-dark;
  color: $orange-dark;
  &:hover {
    background-color: lighten($orange, 10%);
    border-color: lighten($orange-dark, 10%);
    color: lighten($orange-dark, 10%);
  }
}

.blue {
  background-color: $blue;
  border-color: $blue-dark;
  color: $blue-dark;
  &:hover {
    background-color: lighten($blue, 10%);
    border-color: lighten($blue-dark, 10%);
    color: lighten($blue-dark, 10%);
  }
}

.yellow {
  background-color: $yellow;
  border-color: $yellow-dark;
  color: $yellow-dark;
  &:hover {
    background-color: lighten($yellow, 10%);
    border-color: lighten($yellow-dark, 10%);
    color: lighten($yellow-dark, 10%);
  }
}
