.dropArea {
  min-height: 2rem;
  max-width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
  align-items: start;
  border: 3px;
}

.Dashed {
  border-radius: 20px;
  border-style: dashed;
  width: 800px;
  background-color: transparent;
}

.Cartoon {
  width: 600px;
  border-width: 3px;
  border-bottom: 10px;
  border-style: solid;
  font-size: 20px;
  font-weight: 600;
  background-color: #fdeedd;
  border-color: #422b11;
}
