@font-face {
  font-family: Amiko;
  font-style: normal;
  font-weight: 400;
  src:
    local('Amiko'),
    url(@/assets/fonts/Amiko-Regular.ttf) format('truetype');
}

@font-face {
  font-family: Amiko;
  font-style: normal;
  font-weight: 600;
  src:
    local('Amiko SemiBold'),
    url(@/assets/fonts/Amiko-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: Amiko;
  font-style: normal;
  font-weight: 700;
  src:
    local('Amiko Bold'),
    url(@/assets/fonts/Amiko-Bold.ttf) format('truetype');
}

html,
body {
  margin: 0;
  font-family: Amiko;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

* {
  box-sizing: border-box;
}
